In [1]:
import pandas as pd

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Snowfall,Rainfall,Country
0,0,Cape Town,-33.93,18.42,59.00,93,75,28.86,light rain,0,0.0,ZA
1,1,Charters Towers,-20.10,146.27,64.13,33,53,17.25,broken clouds,0,0.0,AU
2,2,Norman Wells,65.28,-126.83,66.20,63,75,5.82,broken clouds,0,0.0,CA
3,3,San Cristobal,7.77,-72.22,65.16,86,100,1.41,overcast clouds,0,0.0,VE
4,4,Bluff,-46.60,168.33,47.50,69,100,11.52,overcast clouds,0,0.0,NZ

In [3]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_pref = str(input("Would you like it to be raining? (yes/no) "))
snow_pref = str(input("What you like it to be snowing? (yes/no) "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90
Would you like it to be raining? (yes/no) yes
What you like it to be snowing? (yes/no) no

In [4]:
#Filter the dataset to find the cities that fit the criteria.
if rain_pref == "no" and snow_pref == "no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] == 0) & \
                                       (city_data_df["Rainfall"] == 0)]
if rain_pref == "yes" and snow_pref == "no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] == 0) & \
                                       (city_data_df["Rainfall"] > 0)]
if rain_pref == "no" and snow_pref == "yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] > 0) & \
                                       (city_data_df["Rainfall"] == 0)]
if rain_pref == "yes" and snow_pref == "yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] > 0) & \
                                       (city_data_df["Rainfall"] > 0)]
preferred_cities_df.count()

City_ID                63
City                   63
Lat                    63
Lng                    63
Max Temp               63
Humidity               63
Cloudiness             63
Wind Speed             63
Weather Description    63
Snowfall               63
Rainfall               63
Country                63
dtype: int64

In [5]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp    Lat     Lng Hotel Name
21      Ouadda      CF     66.92   8.08   22.40
27  Bredasdorp      ZA     62.60 -34.53   20.04
39       Gimbi      ET     56.14   9.17   35.83
45       Ambon      ID     79.00  -3.70  128.18
49   Porbandar      IN     83.07  21.64   69.61

In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City",  "Max Temp", "Country", "Weather Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Max Temp,Country,Weather Description,Lat,Lng,Hotel Name
21,Ouadda,66.92,CF,light rain,8.08,22.40,
27,Bredasdorp,62.60,ZA,moderate rain,-34.53,20.04,
39,Gimbi,56.14,ET,moderate rain,9.17,35.83,
45,Ambon,79.00,ID,moderate rain,-3.70,128.18,
49,Porbandar,83.07,IN,light rain,21.64,69.61,
59,Butaritari,83.79,KI,light rain,3.07,172.79,
64,Qaqortoq,51.80,GL,light rain,60.72,-46.03,
67,Vostok,66.96,RU,light rain,46.49,135.88,
69,Saint-Philippe,66.20,RE,light rain,-21.36,55.77,
81,Busselton,59.00,AU,light rain,-33.65,115.33,

In [14]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Max Temp,Country,Weather Description,Lat,Lng,Hotel Name
21,Ouadda,66.92,CF,light rain,8.08,22.40,
27,Bredasdorp,62.60,ZA,moderate rain,-34.53,20.04,Bredasdorp Country Manor
39,Gimbi,56.14,ET,moderate rain,9.17,35.83,Sam home
45,Ambon,79.00,ID,moderate rain,-3.70,128.18,Swiss-Belhotel Ambon
49,Porbandar,83.07,IN,light rain,21.64,69.61,Lords Inn Porbandar
59,Butaritari,83.79,KI,light rain,3.07,172.79,Isles Sunset Lodge
64,Qaqortoq,51.80,GL,light rain,60.72,-46.03,Hotel Qaqortoq
67,Vostok,66.96,RU,light rain,46.49,135.88,
69,Saint-Philippe,66.20,RE,light rain,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
81,Busselton,59.00,AU,light rain,-33.65,115.33,Observatory Guest House

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
output_data_file = "weather_data/WeatherPy_vacation.csv"
#export into csv
hotel_df.to_csv(output_data_file, index_label="City")